# Global Airport Location

* Data souce: https://raw.githubusercontent.com/jpatokal/openflights/master/data/airports.dat
* Data info: https://openflights.org/data.html#airport

In [1]:
import pandas as pd
import os

In [2]:
file_path = os.path.join("..","data","airports.csv")

In [3]:
# Import file as CSV and set the index
airports = pd.read_csv(file_path)
# airports.set_index("Airport ID",inplace=True)
# Replace NAN
airports.fillna('',inplace=True)

In [4]:
airports

,Airport ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz database time zone,Type,Source
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7693,14106,Rogachyovo Air Base,Belaya,Russia,\N,ULDA,71.616699,52.478298,272,\N,\N,\N,airport,OurAirports
7694,14107,Ulan-Ude East Airport,Ulan Ude,Russia,\N,XIUW,51.849998,107.737999,1670,\N,\N,\N,airport,OurAirports
7695,14108,Krechevitsy Air Base,Novgorod,Russia,\N,ULLK,58.625000,31.385000,85,\N,\N,\N,airport,OurAirports
7696,14109,Desierto de Atacama Airport,Copiapo,Chile,CPO,SCAT,-27.261200,-70.779198,670,\N,\N,\N,airport,OurAirports
7697,14110,Melitopol Air Base,Melitopol,Ukraine,\N,UKDM,46.880001,35.305000,0,\N,\N,\N,airport,OurAirports

In [5]:
# Iterate over the data frame to replace \N by empty
for index,row in airports.iterrows():
    airports.iloc[index] = airports.iloc[index].replace('\\N',None)

In [6]:
airports

,Airport ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz database time zone,Type,Source
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7693,14106,Rogachyovo Air Base,Belaya,Russia,Russia,ULDA,71.616699,52.478298,272,272,272,272,airport,OurAirports
7694,14107,Ulan-Ude East Airport,Ulan Ude,Russia,Russia,XIUW,51.849998,107.737999,1670,1670,1670,1670,airport,OurAirports
7695,14108,Krechevitsy Air Base,Novgorod,Russia,Russia,ULLK,58.625000,31.385000,85,85,85,85,airport,OurAirports
7696,14109,Desierto de Atacama Airport,Copiapo,Chile,CPO,SCAT,-27.261200,-70.779198,670,670,670,670,airport,OurAirports
7697,14110,Melitopol Air Base,Melitopol,Ukraine,Ukraine,UKDM,46.880001,35.305000,0,0,0,0,airport,OurAirports

In [7]:
# Columns on the dataset
airports.columns

Index(['Airport ID', 'Name', 'City', 'Country', 'IATA', 'ICAO', 'Latitude',
       'Longitude', 'Altitude', 'Timezone', 'DST', 'Tz database time zone',
       'Type', 'Source'],
      dtype='object')

### Save data to MySQL

In [40]:
import datetime
from datetime import datetime
import mysql.connector
# import database_credentials as dbkeys
import os
import json

with open("/etc/config.json") as config_file:
    config = json.load(config_file)


# Variables:
database_name = "project_2"  # the name of the target database
table_name = "airport_data"



# Create a function to connect to the MYSQL server
def database_connect(hostname, username, password, database=database_name):
    mydb = mysql.connector.connect(
        host=hostname,
        user=username,
        passwd=password,
        database=database
    )
    return mydb



# Return an object containing the MYSQL connection
mydb = database_connect(
    config.get("MYSQL_HOSTNAME"),
    config.get("MYSQL_USERNAME"),
    config.get("MYSQL_PASSWORD")
    )
print(mydb)


# Create the cursor to manipute databases
my_cursor = mydb.cursor()
# Add unique constraint


my_cursor.execute(f"SELECT * FROM {database_name}.{table_name} ORDER BY 'AirportID' DESC LIMIT 1;")
for records in my_cursor:
    print(records)
    print(records[0])


# Create place holders records to insert into the table
sqlStuff = f"""INSERT INTO {table_name} (AirportID,
                                        Name,
                                        City,
                                        Country, 
                                        IATA,
                                        ICAO,
                                        Latitude,
                                        Longitude,
                                        Altitude,
                                        Timezone,
                                        DST,
                                        Tzdatabasetimezone,
                                        Type,
                                        Source)
                                        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s) """

# # Create place holders records to insert into the table
# sqlStuff = f"""INSERT INTO {table_name} (AirportID) VALUES (%s) """

<mysql.connector.connection.MySQLConnection object at 0x11c48b490>
(1, 'Goroka Airport', 'Goroka', 'Papua New Guinea', 'GKA', 'AYGA', -6.08169, 145.392, 5282.0, '10', 'U', 'Pacific/Port_Moresby', 'airport', 'OurAirports')
1

In [37]:
my_cursor.execute(f"DROP TABLE IF exists `project_2`.`airport_data`;")

In [38]:
my_cursor.execute(f"""CREATE TABLE `project_2`.`airport_data` (
                    AirportID INT NOT NULL,
                    Name VARCHAR(100),
                    City VARCHAR(100),
                    Country VARCHAR(70),
                    IATA VARCHAR(70),
                    ICAO VARCHAR(70),
                    Latitude FLOAT,
                    Longitude FLOAT,
                    Altitude FLOAT,
                    Timezone VARCHAR(70),
                    DST VARCHAR(70),
                    Tzdatabasetimezone VARCHAR(70),
                    Type VARCHAR(70),
                    Source VARCHAR(70),
                    PRIMARY KEY (AirportID)
                );""")

In [39]:
# Iterate over the rows of the dataframe and add it to the database
for index,row in airports.iterrows():
    record1 = (row[0],row[1],row[2],row[3],row[4],row[5],row[6],str(row[7]),str(row[8]),str(row[9]),str(row[10]),str(row[11]),row[12],row[13])
#     record1 = (row[0])
#     print(record1)
    print('*')
    
#     print((sqlStuff, record1))
    my_cursor.execute(sqlStuff, record1)

mydb.commit()