# Query the live aircraft data from Opensky API

This notebook shows how to query live data from the Opensky API.
https://opensky-network.org/apidoc/

In [34]:
# Columns data from the API
columns = ["icao24",
 "callsign",
 "origin_country",
 "time_position",
 "last_contact",
 "longitude",
 "latitude",
 "baro_altitude",
 "on_ground",
 "velocity",
 "true_track",
 "vertical_rate",
 "sensors",
 "geo_altitude",
 "squawk",
 "spi",
 "position_source",
 "time"]

In [35]:
# Import the libraries that will be used in this notebook
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import os

## API configuration and query

In [38]:
# Save config information.
url = "https://opensky-network.org/api/states/all"

# Build partial query URL
query_url = f"{url}"

#  Perform a request for data
response = requests.get(query_url).json()

In [39]:
# Time of the query data
response["time"]

1611977770

In [40]:
# Amount of data point of the query data
len(response["states"])

2615

In [41]:
# One element of the array
response["states"][0]

['a89ea5',
 'N6545H  ',
 'United States',
 1611977770,
 1611977770,
 -97.3402,
 35.979,
 1188.72,
 False,
 28.14,
 251.9,
 -0.65,
 None,
 1143,
 '1200',
 False,
 0]

In [42]:
# Map data to the dictorary
aircraft_live_data = [];
for i in range(0, 10): #range(len(response["states"])):
    data = {};
    # Test for null and strip spaces in case not null
    if response["states"][i][0]:
        data["icao24"] = response["states"][i][0].strip()
    else:
        data["icao24"] = response["states"][i][0]
    if response["states"][i][1]:
        data["callsign"] = response["states"][i][1].strip()
    else:
        data["callsign"] = response["states"][i][1]
    if response["states"][i][2]:
        data["origin_country"] = response["states"][i][2].strip()
    else:
        data["origin_country"] = response["states"][i][2]
    data["time_position"] = response["states"][i][3]
    data["last_contact"] = response["states"][i][4]
    data["longitude"] = response["states"][i][5]
    data["latitude"] = response["states"][i][6]
    data["baro_altitude"] = response["states"][i][7]
    data["on_ground"] = response["states"][i][8]
    data["velocity"] = response["states"][i][9]
    data["true_track"] = response["states"][i][10]
    data["vertical_rate"] = response["states"][i][11]
    data["sensors"] = response["states"][i][12]
    data["geo_altitude"] = response["states"][i][13]
    if response["states"][i][14]:
        data["squawk"] = response["states"][i][14].strip()
    else:
        data["squawk"] = response["states"][i][14]
    data["spi"] = response["states"][i][15]
    data["position_source"] = response["states"][i][16]
    data["time"] = response["time"]
    
    aircraft_live_data.append(data)

In [43]:
aircraft_live_data[0]

{'icao24': 'a89ea5',
 'callsign': 'N6545H',
 'origin_country': 'United States',
 'time_position': 1611977770,
 'last_contact': 1611977770,
 'longitude': -97.3402,
 'latitude': 35.979,
 'baro_altitude': 1188.72,
 'on_ground': False,
 'velocity': 28.14,
 'true_track': 251.9,
 'vertical_rate': -0.65,
 'sensors': None,
 'geo_altitude': 1143,
 'squawk': '1200',
 'spi': False,
 'position_source': 0,
 'time': 1611977770}

### Save data to MySQL

In [44]:
import datetime
from datetime import datetime
import mysql.connector
# import database_credentials as dbkeys
import os
import json

with open("/etc/config.json") as config_file:
    config = json.load(config_file)


# Variables:
# database_name = "project_2"  # the name of the target database
# table_name = "aircraft_data"
database_name = "djangowebsite"  # the name of the target database
table_name = "airtrafficapp_aircrafts"



# Create a function to connect to the MYSQL server
def database_connect(hostname, username, password, database=database_name):
    mydb = mysql.connector.connect(
        host=hostname,
        user=username,
        passwd=password,
        database=database
    )
    return mydb



# Return an object containing the MYSQL connection
mydb = database_connect(
    config.get("MYSQL_HOSTNAME"),
    config.get("MYSQL_USERNAME"),
    config.get("MYSQL_PASSWORD")
    )
print(mydb)


# Create the cursor to manipute databases
my_cursor = mydb.cursor()
# Add unique constraint


my_cursor.execute(f"SELECT * FROM {database_name}.{table_name} ORDER BY id DESC LIMIT 1;")
for records in my_cursor:
    print(records)
    print(records[0])


# my_cursor.execute(f"""ALTER TABLE `project_2`.`aircraft_data` 
# ADD COLUMN `time` INT NULL DEFAULT NULL COMMENT '' AFTER `position_source`""")

# Create place holders records to insert into the table
sqlStuff = f"""INSERT INTO {table_name} (icao24, 
                                        callsign,
                                        origin_country,
                                        time_position,
                                        last_contact,
                                        longitude,
                                        latitude,
                                        baro_altitude,
                                        on_ground,
                                        velocity,
                                        true_track,
                                        vertical_rate,
                                        sensors,
                                        geo_altitude,
                                        squawk,
                                        spi,
                                        position_source,
                                        time)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s,%s, %s, %s, %s, %s, %s, %s, %s, %s, %s) """

<mysql.connector.connection.MySQLConnection object at 0x11dd2f210>
(32905259, '4403f4', 'TAY4403', 'Austria', 1611977649, 1611977649, 5.4767, 50.6806, 518.16, 0, 58.57, 225.36, -2.93, None, None, '1155', 0, 0, 1611977700)
32905259

In [45]:
for  ii in range(len(aircraft_live_data)):
            record1 = (
                aircraft_live_data[ii]["icao24"],
                aircraft_live_data[ii]["callsign"],
                aircraft_live_data[ii]["origin_country"],
                aircraft_live_data[ii]["time_position"],
                aircraft_live_data[ii]["last_contact"],
                aircraft_live_data[ii]["longitude"],
                aircraft_live_data[ii]["latitude"],
                aircraft_live_data[ii]["baro_altitude"],
                aircraft_live_data[ii]["on_ground"],
                aircraft_live_data[ii]["velocity"],
                aircraft_live_data[ii]["true_track"],
                aircraft_live_data[ii]["vertical_rate"],
                aircraft_live_data[ii]["sensors"],
                aircraft_live_data[ii]["geo_altitude"],
                aircraft_live_data[ii]["squawk"],
                aircraft_live_data[ii]["spi"],
                aircraft_live_data[ii]["position_source"],
                aircraft_live_data[ii]["time"]
                )

#             print(record1)
                

            my_cursor.execute(sqlStuff, record1)

mydb.commit()

In [46]:
for i in range(len(response["states"])):
    aircraft_live_data = list(range(0,18))
    if response["states"][i][0]:
        aircraft_live_data[0] = response["states"][i][0].strip()
    else:
        aircraft_live_data[0] = response["states"][i][0]
    if response["states"][i][1]:
        aircraft_live_data[1] = response["states"][i][1].strip()
    else:
        aircraft_live_data[1] =  response["states"][i][1]
    if response["states"][i][2]:
        aircraft_live_data[2] =  response["states"][i][2].strip()
    else:
        aircraft_live_data[2] =  response["states"][i][2]
    aircraft_live_data[3] =  response["states"][i][3]
    aircraft_live_data[4] =  response["states"][i][4]
    aircraft_live_data[5] =  response["states"][i][5]
    aircraft_live_data[6] =  response["states"][i][6]
    aircraft_live_data[7] =  response["states"][i][7]
    aircraft_live_data[8] =  response["states"][i][8]
    aircraft_live_data[9] =  response["states"][i][9]
    aircraft_live_data[10] =  response["states"][i][10]
    aircraft_live_data[11] =  response["states"][i][11]
    aircraft_live_data[12] =  response["states"][i][12]
    aircraft_live_data[13] =  response["states"][i][13]
    if response["states"][i][14]:
        aircraft_live_data[14] =  response["states"][i][14].strip()
    else:
        aircraft_live_data[14] =  response["states"][i][14]
    aircraft_live_data[15] =  response["states"][i][15]
    aircraft_live_data[16]  = response["states"][i][16]
    aircraft_live_data[17] = response["time"]

In [12]:
# aircraft_live_data

In [13]:
# (aircraft_live_data[0], 
#  aircraft_live_data[1],
#  aircraft_live_data[2],
#  aircraft_live_data[3],
#  aircraft_live_data[4],
#  aircraft_live_data[5],
#  aircraft_live_data[6],
#  aircraft_live_data[7],
#  aircraft_live_data[8],
#  aircraft_live_data[9],
#  aircraft_live_data[10],
#  aircraft_live_data[11],
#  aircraft_live_data[12],
#  aircraft_live_data[13],
#  aircraft_live_data[14],
#  aircraft_live_data[15],
#  aircraft_live_data[16]
# )

### Query Database

In [14]:
my_cursor.execute(f"SELECT * FROM {database_name}.{table_name} ORDER BY id DESC LIMIT 25;")
list_records = []
for records in my_cursor:
#     print(f"Total records on the table: {records[0]}")
    print(f"-----------------------------------------")
#     print(records)
    list_records.append(records)

-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------

In [15]:
type(records)

tuple

In [16]:
# Convert tuples from database to dataframe
df = pd.DataFrame(list_records, columns = [
                                    "id",
                                    "icao24",
                                     "callsign",
                                     "origin_country",
                                     "time_position",
                                     "last_contact",
                                     "longitude",
                                     "latitude",
                                     "baro_altitude",
                                     "on_ground",
                                     "velocity",
                                     "true_track",
                                     "vertical_rate",
                                     "sensors",
                                     "geo_altitude",
                                     "squawk",
                                     "spi",
                                     "position_source",
                                    "time"]
                 )

In [17]:
df.set_index('id')

,icao24,callsign,origin_country,time_position,last_contact,longitude,latitude,baro_altitude,on_ground,velocity,true_track,vertical_rate,sensors,geo_altitude,squawk,spi,position_source,time
id,,,,,,,,,,,,,,,,,,
50282325,7c6b39,JST412,Australia,1.611976e+09,1611976079,152.9540,-29.9723,11887.20,0,233.19,21.75,0.00,None,12496.80,1450,0,0,1611976080
50282324,a3b88e,AAL508,United States,1.611976e+09,1611976080,-106.1640,34.1841,11582.40,0,189.77,277.16,-0.33,None,11711.90,6220,0,0,1611976080
50282323,0d0c07,VTM787,Mexico,1.611976e+09,1611976079,-98.7951,28.6695,7246.62,0,207.14,208.16,-10.73,None,7559.04,6223,0,0,1611976080
50282322,7c6b1c,JST290,Australia,1.611976e+09,1611976080,173.0530,-42.9267,7010.40,0,221.86,41.90,-0.33,None,7208.52,5027,0,0,1611976080
50282321,0d0c02,VIV1242,Mexico,1.611976e+09,1611976079,-116.1420,32.2920,4328.16,0,172.03,290.11,-12.68,None,4351.02,0034,0,0,1611976080
50282320,a2e5de,HGT3142,United States,1.611976e+09,1611976038,-122.9400,45.5311,129.54,0,62.87,323.32,-3.90,None,83.82,None,0,0,1611976080
50282319,7c6b41,JST765,Australia,1.611976e+09,1611976080,148.1600,-34.7108,11277.60,0,256.90,77.74,0.00,None,11818.60,4367,0,0,1611976080
50282318,aa56da,UAL1749,United States,1.611976e+09,1611976030,-125.0910,37.5988,10363.20,0,190.08,267.05,0.00,None,10454.60,1736,0,0,1611976080
50282317,7c6b2f,JST708,Australia,1.611976e+09,1611975890,144.8360,-37.6593,NaN,1,64.31,171.56,NaN,None,NaN,3277,0,0,1611976080
50282316,aa56db,UAL283,United States,1.611976e+09,1611976079,-88.4236,33.0649,12496.80,0,273.00,128.73,0.00,None,12809.20,None,0,0,1611976080
50282315,a41b89,DAL1098,United States,1.611948e+09,1611947769,-84.1583,33.6002,807.72,0,93.50,294.03,-0.65,None,868.68,1145,0,0,1611947769
50282314,a1371d,N178CF,United States,1.611948e+09,1611947769,-77.2897,42.9069,8229.60,0,257.57,92.98,0.33,None,7795.26,4151,0,0,1611947769
50282313,710dbf,KNE133,Saudi Arabia,1.611948e+09,1611947717,46.5796,24.9156,2461.26,0,136.25,279.78,1.30,None,2522.22,None,0,0,1611947769
50282312,a7950f,EJA588,United States,1.611948e+09,1611947769,-87.8022,40.1281,11887.20,0,238.49,167.16,-0.33,None,11894.80,3106,0,0,1611947769
50282311,a4e5ea,ILU44K,United States,1.611948e+09,1611947769,-84.5317,40.1027,1714.50,0,56.08,268.95,0.33,None,1699.26,6666,0,0,1611947769
50282310,a13732,N178DB,United States,1.611948e+09,1611947769,-81.4006,26.3045,624.84,0,67.39,0.00,0.33,None,693.42,None,0,0,1611947769
50282309,aa781f,CKS860,United States,1.611948e+09,1611947769,119.9510,23.6674,10668.00,0,279.66,52.62,0.00,None,11292.80,3545,0,0,1611947769
50282308,a3c5fd,DAL1417,United States,1.611948e+09,1611947769,-70.9663,42.0867,906.78,0,120.61,41.71,-10.08,None,792.48,1573,0,0,1611947769
50282307,7808e6,CES7010,China,1.611948e+09,1611947769,2.3846,52.3997,10668.00,0,248.98,55.95,0.33,None,10469.90,1164,0,0,1611947769
50282306,aa7833,DAL796,United States,1.611948e+09,1611947769,-94.4237,41.4407,11887.20,0,292.72,90.00,0.00,None,11955.80,None,0,0,1611947769
50282305,a7de0b,FDX19,United States,1.611948e+09,1611947759,-150.0000,61.1884,NaN,1,0.77,345.94,NaN,None,NaN,None,0,0,1611947769
50282304,a7e509,DAL1289,United States,1.611948e+09,1611947769,-82.0519,35.6267,10363.20,0,220.83,224.15,0.00,None,10454.60,2547,0,0,1611947769
50282303,adc65e,AAL2195,United States,1.611948e+09,1611947744,-118.0670,42.2691,10058.40,0,255.73,139.32,0.00,None,9829.80,None,0,0,1611947769
50282302,c0072c,CFCSP,Canada,1.611948e+09,1611947557,-122.3820,49.0149,25877.50,0,29.22,26.11,-2.60,None,83.82,0004,0,0,1611947769
50282301,a6d857,,United States,NaN,1611947752,NaN,NaN,NaN,0,160.36,261.14,10.73,None,NaN,None,0,0,1611947769

In [18]:
df.to_dict(orient='records')

[{'id': 50282325,
  'icao24': '7c6b39',
  'callsign': 'JST412',
  'origin_country': 'Australia',
  'time_position': 1611976079.0,
  'last_contact': 1611976079,
  'longitude': 152.954,
  'latitude': -29.9723,
  'baro_altitude': 11887.2,
  'on_ground': 0,
  'velocity': 233.19,
  'true_track': 21.75,
  'vertical_rate': 0.0,
  'sensors': None,
  'geo_altitude': 12496.8,
  'squawk': '1450',
  'spi': 0,
  'position_source': 0,
  'time': 1611976080},
 {'id': 50282324,
  'icao24': 'a3b88e',
  'callsign': 'AAL508',
  'origin_country': 'United States',
  'time_position': 1611976079.0,
  'last_contact': 1611976080,
  'longitude': -106.164,
  'latitude': 34.1841,
  'baro_altitude': 11582.4,
  'on_ground': 0,
  'velocity': 189.77,
  'true_track': 277.16,
  'vertical_rate': -0.33,
  'sensors': None,
  'geo_altitude': 11711.9,
  'squawk': '6220',
  'spi': 0,
  'position_source': 0,
  'time': 1611976080},
 {'id': 50282323,
  'icao24': '0d0c07',
  'callsign': 'VTM787',
  'origin_country': 'Mexico',
  'time_position': 1611976079.0,
  'last_contact': 1611976079,
  'longitude': -98.7951,
  'latitude': 28.6695,
  'baro_altitude': 7246.62,
  'on_ground': 0,
  'velocity': 207.14,
  'true_track': 208.16,
  'vertical_rate': -10.73,
  'sensors': None,
  'geo_altitude': 7559.04,
  'squawk': '6223',
  'spi': 0,
  'position_source': 0,
  'time': 1611976080},
 {'id': 50282322,
  'icao24': '7c6b1c',
  'callsign': 'JST290',
  'origin_country': 'Australia',
  'time_position': 1611976080.0,
  'last_contact': 1611976080,
  'longitude': 173.053,
  'latitude': -42.9267,
  'baro_altitude': 7010.4,
  'on_ground': 0,
  'velocity': 221.86,
  'true_track': 41.9,
  'vertical_rate': -0.33,
  'sensors': None,
  'geo_altitude': 7208.52,
  'squawk': '5027',
  'spi': 0,
  'position_source': 0,
  'time': 1611976080},
 {'id': 50282321,
  'icao24': '0d0c02',
  'callsign': 'VIV1242',
  'origin_country': 'Mexico',
  'time_position': 1611976079.0,
  'last_contact': 1611976079,
  'longitude': -116.142,
  'latitude': 32.292,
  'baro_altitude': 4328.16,
  'on_ground': 0,
  'velocity': 172.03,
  'true_track': 290.11,
  'vertical_rate': -12.68,
  'sensors': None,
  'geo_altitude': 4351.02,
  'squawk': '0034',
  'spi': 0,
  'position_source': 0,
  'time': 1611976080},
 {'id': 50282320,
  'icao24': 'a2e5de',
  'callsign': 'HGT3142',
  'origin_country': 'United States',
  'time_position': 1611976032.0,
  'last_contact': 1611976038,
  'longitude': -122.94,
  'latitude': 45.5311,
  'baro_altitude': 129.54,
  'on_ground': 0,
  'velocity': 62.87,
  'true_track': 323.32,
  'vertical_rate': -3.9,
  'sensors': None,
  'geo_altitude': 83.82,
  'squawk': None,
  'spi': 0,
  'position_source': 0,
  'time': 1611976080},
 {'id': 50282319,
  'icao24': '7c6b41',
  'callsign': 'JST765',
  'origin_country': 'Australia',
  'time_position': 1611976080.0,
  'last_contact': 1611976080,
  'longitude': 148.16,
  'latitude': -34.7108,
  'baro_altitude': 11277.6,
  'on_ground': 0,
  'velocity': 256.9,
  'true_track': 77.74,
  'vertical_rate': 0.0,
  'sensors': None,
  'geo_altitude': 11818.6,
  'squawk': '4367',
  'spi': 0,
  'position_source': 0,
  'time': 1611976080},
 {'id': 50282318,
  'icao24': 'aa56da',
  'callsign': 'UAL1749',
  'origin_country': 'United States',
  'time_position': 1611976027.0,
  'last_contact': 1611976030,
  'longitude': -125.091,
  'latitude': 37.5988,
  'baro_altitude': 10363.2,
  'on_ground': 0,
  'velocity': 190.08,
  'true_track': 267.05,
  'vertical_rate': 0.0,
  'sensors': None,
  'geo_altitude': 10454.6,
  'squawk': '1736',
  'spi': 0,
  'position_source': 0,
  'time': 1611976080},
 {'id': 50282317,
  'icao24': '7c6b2f',
  'callsign': 'JST708',
  'origin_country': 'Australia',
  'time_position': 1611975837.0,
  'last_contact': 1611975890,
  'longitude': 144.836,
  'latitude': -37.6593,
  'baro_altitude': nan,
  'on_ground': 1,
  'velocity': 64.31,
  'true_track': 171.56,
  'vertical_rate': nan,
  'sensors': None,
  'geo_altitude': nan,
  'squawk': '3277',
  'spi': 0,
  'position_source': 0,
  'time': 1611976080},
 {'id': 50282316,
  'icao24': 'aa56db',
  'callsign': 'UAL283',
  'origin_country': 'United States',
  'time_position': 1611976079.0,
  'last_contact': 1611976079,
  'longitude': -88.4236,
  'latitude': 33.0649,
  'baro_altitude': 12496.8,
  'on_ground': 0,
  'velocity': 273.0,
  'true_track': 128.73,
  'vertical_rate': 0.0,
  'sensors': None,
  'geo_altitude': 12809.2,
  'squawk': None,
  'spi': 0,
  'position_source': 0,
  'time': 1611976080},
 {'id': 50282315,
  'icao24': 'a41b89',
  'callsign': 'DAL1098',
  'origin_country': 'United States',
  'time_position': 1611947769.0,
  'last_contact': 1611947769,
  'longitude': -84.1583,
  'latitude': 33.6002,
  'baro_altitude': 807.72,
  'on_ground': 0,
  'velocity': 93.5,
  'true_track': 294.03,
  'vertical_rate': -0.65,
  'sensors': None,
  'geo_altitude': 868.68,
  'squawk': '1145',
  'spi': 0,
  'position_source': 0,
  'time': 1611947769},
 {'id': 50282314,
  'icao24': 'a1371d',
  'callsign': 'N178CF',
  'origin_country': 'United States',
  'time_position': 1611947769.0,
  'last_contact': 1611947769,
  'longitude': -77.2897,
  'latitude': 42.9069,
  'baro_altitude': 8229.6,
  'on_ground': 0,
  'velocity': 257.57,
  'true_track': 92.98,
  'vertical_rate': 0.33,
  'sensors': None,
  'geo_altitude': 7795.26,
  'squawk': '4151',
  'spi': 0,
  'position_source': 0,
  'time': 1611947769},
 {'id': 50282313,
  'icao24': '710dbf',
  'callsign': 'KNE133',
  'origin_country': 'Saudi Arabia',
  'time_position': 1611947717.0,
  'last_contact': 1611947717,
  'longitude': 46.5796,
  'latitude': 24.9156,
  'baro_altitude': 2461.26,
  'on_ground': 0,
  'velocity': 136.25,
  'true_track': 279.78,
  'vertical_rate': 1.3,
  'sensors': None,
  'geo_altitude': 2522.22,
  'squawk': None,
  'spi': 0,
  'position_source': 0,
  'time': 1611947769},
 {'id': 50282312,
  'icao24': 'a7950f',
  'callsign': 'EJA588',
  'origin_country': 'United States',
  'time_position': 1611947769.0,
  'last_contact': 1611947769,
  'longitude': -87.8022,
  'latitude': 40.1281,
  'baro_altitude': 11887.2,
  'on_ground': 0,
  'velocity': 238.49,
  'true_track': 167.16,
  'vertical_rate': -0.33,
  'sensors': None,
  'geo_altitude': 11894.8,
  'squawk': '3106',
  'spi': 0,
  'position_source': 0,
  'time': 1611947769},
 {'id': 50282311,
  'icao24': 'a4e5ea',
  'callsign': 'ILU44K',
  'origin_country': 'United States',
  'time_position': 1611947769.0,
  'last_contact': 1611947769,
  'longitude': -84.5317,
  'latitude': 40.1027,
  'baro_altitude': 1714.5,
  'on_ground': 0,
  'velocity': 56.08,
  'true_track': 268.95,
  'vertical_rate': 0.33,
  'sensors': None,
  'geo_altitude': 1699.26,
  'squawk': '6666',
  'spi': 0,
  'position_source': 0,
  'time': 1611947769},
 {'id': 50282310,
  'icao24': 'a13732',
  'callsign': 'N178DB',
  'origin_country': 'United States',
  'time_position': 1611947769.0,
  'last_contact': 1611947769,
  'longitude': -81.4006,
  'latitude': 26.3045,
  'baro_altitude': 624.84,
  'on_ground': 0,
  'velocity': 67.39,
  'true_track': 0.0,
  'vertical_rate': 0.33,
  'sensors': None,
  'geo_altitude': 693.42,
  'squawk': None,
  'spi': 0,
  'position_source': 0,
  'time': 1611947769},
 {'id': 50282309,
  'icao24': 'aa781f',
  'callsign': 'CKS860',
  'origin_country': 'United States',
  'time_position': 1611947769.0,
  'last_contact': 1611947769,
  'longitude': 119.951,
  'latitude': 23.6674,
  'baro_altitude': 10668.0,
  'on_ground': 0,
  'velocity': 279.66,
  'true_track': 52.62,
  'vertical_rate': 0.0,
  'sensors': None,
  'geo_altitude': 11292.8,
  'squawk': '3545',
  'spi': 0,
  'position_source': 0,
  'time': 1611947769},
 {'id': 50282308,
  'icao24': 'a3c5fd',
  'callsign': 'DAL1417',
  'origin_country': 'United States',
  'time_position': 1611947769.0,
  'last_contact': 1611947769,
  'longitude': -70.9663,
  'latitude': 42.0867,
  'baro_altitude': 906.78,
  'on_ground': 0,
  'velocity': 120.61,
  'true_track': 41.71,
  'vertical_rate': -10.08,
  'sensors': None,
  'geo_altitude': 792.48,
  'squawk': '1573',
  'spi': 0,
  'position_source': 0,
  'time': 1611947769},
 {'id': 50282307,
  'icao24': '7808e6',
  'callsign': 'CES7010',
  'origin_country': 'China',
  'time_position': 1611947769.0,
  'last_contact': 1611947769,
  'longitude': 2.3846,
  'latitude': 52.3997,
  'baro_altitude': 10668.0,
  'on_ground': 0,
  'velocity': 248.98,
  'true_track': 55.95,
  'vertical_rate': 0.33,
  'sensors': None,
  'geo_altitude': 10469.9,
  'squawk': '1164',
  'spi': 0,
  'position_source': 0,
  'time': 1611947769},
 {'id': 50282306,
  'icao24': 'aa7833',
  'callsign': 'DAL796',
  'origin_country': 'United States',
  'time_position': 1611947769.0,
  'last_contact': 1611947769,
  'longitude': -94.4237,
  'latitude': 41.4407,
  'baro_altitude': 11887.2,
  'on_ground': 0,
  'velocity': 292.72,
  'true_track': 90.0,
  'vertical_rate': 0.0,
  'sensors': None,
  'geo_altitude': 11955.8,
  'squawk': None,
  'spi': 0,
  'position_source': 0,
  'time': 1611947769},
 {'id': 50282305,
  'icao24': 'a7de0b',
  'callsign': 'FDX19',
  'origin_country': 'United States',
  'time_position': 1611947754.0,
  'last_contact': 1611947759,
  'longitude': -150.0,
  'latitude': 61.1884,
  'baro_altitude': nan,
  'on_ground': 1,
  'velocity': 0.77,
  'true_track': 345.94,
  'vertical_rate': nan,
  'sensors': None,
  'geo_altitude': nan,
  'squawk': None,
  'spi': 0,
  'position_source': 0,
  'time': 1611947769},
 {'id': 50282304,
  'icao24': 'a7e509',
  'callsign': 'DAL1289',
  'origin_country': 'United States',
  'time_position': 1611947769.0,
  'last_contact': 1611947769,
  'longitude': -82.0519,
  'latitude': 35.6267,
  'baro_altitude': 10363.2,
  'on_ground': 0,
  'velocity': 220.83,
  'true_track': 224.15,
  'vertical_rate': 0.0,
  'sensors': None,
  'geo_altitude': 10454.6,
  'squawk': '2547',
  'spi': 0,
  'position_source': 0,
  'time': 1611947769},
 {'id': 50282303,
  'icao24': 'adc65e',
  'callsign': 'AAL2195',
  'origin_country': 'United States',
  'time_position': 1611947741.0,
  'last_contact': 1611947744,
  'longitude': -118.067,
  'latitude': 42.2691,
  'baro_altitude': 10058.4,
  'on_ground': 0,
  'velocity': 255.73,
  'true_track': 139.32,
  'vertical_rate': 0.0,
  'sensors': None,
  'geo_altitude': 9829.8,
  'squawk': None,
  'spi': 0,
  'position_source': 0,
  'time': 1611947769},
 {'id': 50282302,
  'icao24': 'c0072c',
  'callsign': 'CFCSP',
  'origin_country': 'Canada',
  'time_position': 1611947514.0,
  'last_contact': 1611947557,
  'longitude': -122.382,
  'latitude': 49.0149,
  'baro_altitude': 25877.5,
  'on_ground': 0,
  'velocity': 29.22,
  'true_track': 26.11,
  'vertical_rate': -2.6,
  'sensors': None,
  'geo_altitude': 83.82,
  'squawk': '0004',
  'spi': 0,
  'position_source': 0,
  'time': 1611947769},
 {'id': 50282301,
  'icao24': 'a6d857',
  'callsign': '',
  'origin_country': 'United States',
  'time_position': nan,
  'last_contact': 1611947752,
  'longitude': nan,
  'latitude': nan,
  'baro_altitude': nan,
  'on_ground': 0,
  'velocity': 160.36,
  'true_track': 261.14,
  'vertical_rate': 10.73,
  'sensors': None,
  'geo_altitude': nan,
  'squawk': None,
  'spi': 0,
  'position_source': 0,
  'time': 1611947769}]