# Query the live aircraft data from Opensky API

This notebook shows how to query live data from the Opensky API.
https://opensky-network.org/apidoc/

In [ ]:
# Columns data from the API
columns = ["icao24",
 "callsign",
 "origin_country",
 "time_position",
 "last_contact",
 "longitude",
 "latitude",
 "baro_altitude",
 "on_ground",
 "velocity",
 "true_track",
 "vertical_rate",
 "sensors",
 "geo_altitude",
 "squawk",
 "spi",
 "position_source"]

In [1]:
# Import the libraries that will be used in this notebook
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import os

## API configuration and query

In [2]:
# Save config information.
url = "https://opensky-network.org/api/states/all"

# Build partial query URL
query_url = f"{url}"

#  Perform a request for data
response = requests.get(query_url).json()

In [3]:
# Time of the query data
response["time"]

1607125240

In [4]:
# Amount of data point of the query data
len(response["states"])

4809

In [5]:
# One element of the array
response["states"][0]

['a25f32',
 'N252CV  ',
 'United States',
 1607125240,
 1607125240,
 -95.6393,
 45.5547,
 8229.6,
 False,
 156.65,
 60.49,
 0,
 None,
 8275.32,
 None,
 False,
 0]

In [6]:
# Map data to the dictorary
aircraft_live_data = [];
for i in range(len(response["states"])):
    data = {};
    # Test for null and strip spaces in case not null
    if response["states"][i][0]:
        data["icao24"] = response["states"][i][0].strip()
    else:
        data["icao24"] = response["states"][i][0]
    if response["states"][i][1]:
        data["callsign"] = response["states"][i][1].strip()
    else:
        data["callsign"] = response["states"][i][1]
    if response["states"][i][2]:
        data["origin_country"] = response["states"][i][2].strip()
    else:
        data["origin_country"] = response["states"][i][2]
    data["time_position"] = response["states"][i][3]
    data["last_contact"] = response["states"][i][4]
    data["longitude"] = response["states"][i][5]
    data["latitude"] = response["states"][i][6]
    data["baro_altitude"] = response["states"][i][7]
    data["on_ground"] = response["states"][i][8]
    data["velocity"] = response["states"][i][9]
    data["true_track"] = response["states"][i][10]
    data["vertical_rate"] = response["states"][i][11]
    data["sensors"] = response["states"][i][12]
    data["geo_altitude"] = response["states"][i][13]
    if response["states"][i][14]:
        data["squawk"] = response["states"][i][14].strip()
    else:
        data["squawk"] = response["states"][i][14]
    data["spi"] = response["states"][i][15]
    data["position_source"] = response["states"][i][16]
    
    aircraft_live_data.append(data)

In [7]:
aircraft_live_data[0]

{'icao24': 'a25f32',
 'callsign': 'N252CV',
 'origin_country': 'United States',
 'time_position': 1607125240,
 'last_contact': 1607125240,
 'longitude': -95.6393,
 'latitude': 45.5547,
 'baro_altitude': 8229.6,
 'on_ground': False,
 'velocity': 156.65,
 'true_track': 60.49,
 'vertical_rate': 0,
 'sensors': None,
 'geo_altitude': 8275.32,
 'squawk': None,
 'spi': False,
 'position_source': 0}

## Save data to MongoDB

In [14]:
import pymongo

# Use flask_pymongo to set up mongo connection
conn =  "mongodb://localhost:27017/project_3"
client =  pymongo.MongoClient(conn)

# identify the collection and drop any existing data for this demonstration
db = client.project_3
db.live_aircraft_data.drop()

# db.live_aircraft_data.insert_many(aircraft_live_data)


# query_result = list(db.mars_data.find())
# query_result = (db.mars_data.find())
query_result = (db.live_aircraft_data.find_one())
query_result

### Save data to MySQL

In [3]:
import datetime
from datetime import datetime
import mysql.connector
# import database_credentials as dbkeys
import os
import json

with open("/etc/config.json") as config_file:
    config = json.load(config_file)


# Variables:
database_name = "project_2"  # the name of the target database
table_name = "aircraft_data"



# Create a function to connect to the MYSQL server
def database_connect(hostname, username, password, database=database_name):
    mydb = mysql.connector.connect(
        host=hostname,
        user=username,
        passwd=password,
        database=database
    )
    return mydb



# Return an object containing the MYSQL connection
mydb = database_connect(
    config.get("MYSQL_HOSTNAME"),
    config.get("MYSQL_USERNAME"),
    config.get("MYSQL_PASSWORD")
    )
print(mydb)


# Create the cursor to manipute databases
my_cursor = mydb.cursor()
# Add unique constraint


my_cursor.execute(f"SELECT * FROM {database_name}.{table_name} ORDER BY id DESC LIMIT 1;")
for records in my_cursor:
    print(records)
    print(records[0])




# Create place holders records to insert into the table
sqlStuff = f"""INSERT INTO {table_name} (icao24, callsign,origin_country,time_position,last_contact,
                                        longitude,
                                        latitude,
                                        baro_altitude,
                                        on_ground,
                                        velocity,
                                        true_track,
                                        vertical_rate,
                                        sensors,
                                        geo_altitude,
                                        squawk,
                                        spi,
                                        position_source)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s,%s, %s, %s, %s, %s, %s, %s, %s, %s) """

<mysql.connector.connection.MySQLConnection object at 0x11dce59d0>
(5006, 'c00734', 'WJA676', 'Canada', 1607141729, 1607141729, -87.716, 47.7566, 11887.2, 0, 237.46, 113.9, 0.0, None, 11772.9, None, 0, 0)
5006

In [10]:
for  ii in range(len(aircraft_live_data)):
            record1 = (
                aircraft_live_data[ii]["icao24"],
                aircraft_live_data[ii]["callsign"],
                aircraft_live_data[ii]["origin_country"],
                aircraft_live_data[ii]["time_position"],
                aircraft_live_data[ii]["last_contact"],
                aircraft_live_data[ii]["longitude"],
                aircraft_live_data[ii]["latitude"],
                aircraft_live_data[ii]["baro_altitude"],
                aircraft_live_data[ii]["on_ground"],
                aircraft_live_data[ii]["velocity"],
                aircraft_live_data[ii]["true_track"],
                aircraft_live_data[ii]["vertical_rate"],
                aircraft_live_data[ii]["sensors"],
                aircraft_live_data[ii]["geo_altitude"],
                aircraft_live_data[ii]["squawk"],
                aircraft_live_data[ii]["spi"],
                aircraft_live_data[ii]["position_source"]
                )

#             print(record1)
                

            my_cursor.execute(sqlStuff, record1)

# mydb.commit()

In [33]:
for i in range(len(response["states"])):
    aircraft_live_data = list(range(0,17))
    if response["states"][i][0]:
        aircraft_live_data[0] = response["states"][i][0].strip()
    else:
        aircraft_live_data[0] = response["states"][i][0]
    if response["states"][i][1]:
        aircraft_live_data[1] = response["states"][i][1].strip()
    else:
        aircraft_live_data[1] =  response["states"][i][1]
    if response["states"][i][2]:
        aircraft_live_data[2] =  response["states"][i][2].strip()
    else:
        aircraft_live_data[2] =  response["states"][i][2]
    aircraft_live_data[3] =  response["states"][i][3]
    aircraft_live_data[4] =  response["states"][i][4]
    aircraft_live_data[5] =  response["states"][i][5]
    aircraft_live_data[6] =  response["states"][i][6]
    aircraft_live_data[7] =  response["states"][i][7]
    aircraft_live_data[8] =  response["states"][i][8]
    aircraft_live_data[9] =  response["states"][i][9]
    aircraft_live_data[10] =  response["states"][i][10]
    aircraft_live_data[11] =  response["states"][i][11]
    aircraft_live_data[12] =  response["states"][i][12]
    aircraft_live_data[13] =  response["states"][i][13]
    if response["states"][i][14]:
        aircraft_live_data[14] =  response["states"][i][14].strip()
    else:
        aircraft_live_data[14] =  response["states"][i][14]
    aircraft_live_data[15] =  response["states"][i][15]
    aircraft_live_data[16]  = response["states"][i][16]

In [34]:
aircraft_live_data

['c00734',
 'WJA676',
 'Canada',
 1607135789,
 1607135789,
 -107.2557,
 50.764,
 11887.2,
 False,
 244.79,
 93.37,
 -0.65,
 None,
 11986.26,
 None,
 False,
 0]

In [37]:
(aircraft_live_data[0], 
 aircraft_live_data[1],
 aircraft_live_data[2],
 aircraft_live_data[3],
 aircraft_live_data[4],
 aircraft_live_data[5],
 aircraft_live_data[6],
 aircraft_live_data[7],
 aircraft_live_data[8],
 aircraft_live_data[9],
 aircraft_live_data[10],
 aircraft_live_data[11],
 aircraft_live_data[12],
 aircraft_live_data[13],
 aircraft_live_data[14],
 aircraft_live_data[15],
 aircraft_live_data[16]
)

('c00734',
 'WJA676',
 'Canada',
 1607135789,
 1607135789,
 -107.2557,
 50.764,
 11887.2,
 False,
 244.79,
 93.37,
 -0.65,
 None,
 11986.26,
 None,
 False,
 0)

### Query Database

In [35]:
my_cursor.execute(f"SELECT * FROM {database_name}.{table_name} ORDER BY id DESC LIMIT 25;")
list_records = []
for records in my_cursor:
#     print(f"Total records on the table: {records[0]}")
    print(f"-----------------------------------------")
#     print(records)
    list_records.append(records)

-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------

In [28]:
type(records)

tuple

In [36]:
# Convert tuples from database to dataframe
df = pd.DataFrame(list_records, columns = [
                                    "id",
                                    "icao24",
                                     "callsign",
                                     "origin_country",
                                     "time_position",
                                     "last_contact",
                                     "longitude",
                                     "latitude",
                                     "baro_altitude",
                                     "on_ground",
                                     "velocity",
                                     "true_track",
                                     "vertical_rate",
                                     "sensors",
                                     "geo_altitude",
                                     "squawk",
                                     "spi",
                                     "position_source"]
                 )

In [40]:
df.set_index('id')

,icao24,callsign,origin_country,time_position,last_contact,longitude,latitude,baro_altitude,on_ground,velocity,true_track,vertical_rate,sensors,geo_altitude,squawk,spi,position_source
id,,,,,,,,,,,,,,,,,
5006,c00734,WJA676,Canada,1607141729,1607141729,-87.7160,47.7566,11887.20,0,237.46,113.90,0.00,None,11772.90,None,0,0
5005,a93ac8,NKS193,United States,1607141729,1607141730,-104.8320,33.8750,10363.20,0,240.82,286.00,0.00,None,10523.20,2457,0,0
5004,89408b,GFA143,Bahrain,1607141729,1607141730,-3.5546,34.3470,11003.30,0,212.30,251.35,-2.28,None,10972.80,None,0,0
5003,a954d8,N700CZ,United States,1607141729,1607141729,-119.7660,34.8965,8115.30,0,107.87,4.65,5.53,None,8359.14,1073,0,0
5002,abc0e4,SWA2755,United States,1607141538,1607141538,-117.2730,37.2502,10363.20,0,222.00,328.26,0.00,None,10607.00,None,0,0
5001,a4359b,UPS909,United States,1607141729,1607141729,-103.2110,36.6842,10066.00,0,232.47,77.99,0.00,None,10264.10,7243,0,0
5000,894093,DHX135,Bahrain,1607141728,1607141729,55.2793,25.3040,434.34,0,78.26,121.29,-3.90,None,426.72,4461,0,0
4999,a0f99e,FDX1610,United States,1607141729,1607141729,-76.2236,41.3717,10370.80,0,195.13,262.43,0.33,None,10264.10,None,0,0
4998,a86a66,QXE2181,United States,1607141423,1607141450,-122.3890,40.4693,8534.40,0,207.13,352.29,-0.33,None,8801.10,3310,0,0
4997,aa7833,DAL1136,United States,1607141391,1607141730,-104.7950,35.0703,11887.20,0,239.42,85.56,0.00,None,12070.10,1037,0,0
4996,44c973,OORKS,Belgium,1607141729,1607141729,4.6400,50.9525,800.10,0,100.86,245.92,-1.63,None,647.70,1000,0,0
4995,39ce24,FWI71R,France,1607141571,1607141572,-24.3965,35.6510,13106.40,0,236.75,37.32,-0.65,None,13464.50,None,0,0
4994,894097,GFA007,Bahrain,1607141729,1607141729,19.8829,46.7437,12192.00,0,231.95,295.49,-0.33,None,12199.60,3247,0,0
4993,424429,SBI2610,United Kingdom,1607141690,1607141690,53.9198,56.4037,11582.40,0,214.16,245.90,0.00,None,11559.50,None,0,0
4992,7c77fc,QFA932,Australia,1607141730,1607141730,152.7380,-27.8790,3131.82,0,160.59,62.94,-7.15,None,3337.56,None,0,0
4991,ad5c83,N960DT,United States,1607140748,1607141729,-102.5410,36.4725,13716.00,0,248.86,131.73,-0.33,None,13929.40,None,0,0
4990,78147a,CSN3455,China,1607141728,1607141729,112.5290,23.8785,7193.28,0,203.15,296.63,0.00,None,7543.80,3113,0,0
4989,424432,AFL1531,United Kingdom,1607141729,1607141729,40.4620,55.8226,9593.58,0,225.45,265.68,-7.80,None,9631.68,None,0,0
4988,42441e,SBI2594,United Kingdom,1607141718,1607141718,52.5635,56.8307,11574.80,0,215.06,269.18,-0.33,None,11536.70,None,0,0
4987,780d8f,CAO1033,China,1607141729,1607141729,25.4236,54.7286,10363.20,0,231.68,243.21,0.00,None,10363.20,5130,0,0
4986,7c77fa,QFA933,Australia,1607141730,1607141730,152.9760,-27.8858,5524.50,0,212.55,221.17,7.80,None,5844.54,None,0,0
4985,a4e5e3,N4144C,United States,1607141704,1607141706,-98.3558,30.5523,2209.80,0,66.55,19.42,-0.33,None,2293.62,1200,0,0
4984,7808d5,CXA8476,China,1607141520,1607141543,104.8910,29.4048,9174.48,0,194.63,315.75,6.83,None,9342.12,1532,0,0
4983,a05ddc,UAL1277,United States,1607141729,1607141729,-109.8580,34.4570,12176.80,0,245.61,272.40,0.00,None,12359.60,6141,0,0
4982,a260bc,UPS1081,United States,1607141730,1607141730,-74.5095,40.6702,4442.46,0,189.79,265.96,20.48,None,4366.26,1670,0,0

In [41]:
df.to_dict(orient='records')

[{'id': 5006,
  'icao24': 'c00734',
  'callsign': 'WJA676',
  'origin_country': 'Canada',
  'time_position': 1607141729,
  'last_contact': 1607141729,
  'longitude': -87.716,
  'latitude': 47.7566,
  'baro_altitude': 11887.2,
  'on_ground': 0,
  'velocity': 237.46,
  'true_track': 113.9,
  'vertical_rate': 0.0,
  'sensors': None,
  'geo_altitude': 11772.9,
  'squawk': None,
  'spi': 0,
  'position_source': 0},
 {'id': 5005,
  'icao24': 'a93ac8',
  'callsign': 'NKS193',
  'origin_country': 'United States',
  'time_position': 1607141729,
  'last_contact': 1607141730,
  'longitude': -104.832,
  'latitude': 33.875,
  'baro_altitude': 10363.2,
  'on_ground': 0,
  'velocity': 240.82,
  'true_track': 286.0,
  'vertical_rate': 0.0,
  'sensors': None,
  'geo_altitude': 10523.2,
  'squawk': '2457',
  'spi': 0,
  'position_source': 0},
 {'id': 5004,
  'icao24': '89408b',
  'callsign': 'GFA143',
  'origin_country': 'Bahrain',
  'time_position': 1607141729,
  'last_contact': 1607141730,
  'longitude': -3.5546,
  'latitude': 34.347,
  'baro_altitude': 11003.3,
  'on_ground': 0,
  'velocity': 212.3,
  'true_track': 251.35,
  'vertical_rate': -2.28,
  'sensors': None,
  'geo_altitude': 10972.8,
  'squawk': None,
  'spi': 0,
  'position_source': 0},
 {'id': 5003,
  'icao24': 'a954d8',
  'callsign': 'N700CZ',
  'origin_country': 'United States',
  'time_position': 1607141729,
  'last_contact': 1607141729,
  'longitude': -119.766,
  'latitude': 34.8965,
  'baro_altitude': 8115.3,
  'on_ground': 0,
  'velocity': 107.87,
  'true_track': 4.65,
  'vertical_rate': 5.53,
  'sensors': None,
  'geo_altitude': 8359.14,
  'squawk': '1073',
  'spi': 0,
  'position_source': 0},
 {'id': 5002,
  'icao24': 'abc0e4',
  'callsign': 'SWA2755',
  'origin_country': 'United States',
  'time_position': 1607141538,
  'last_contact': 1607141538,
  'longitude': -117.273,
  'latitude': 37.2502,
  'baro_altitude': 10363.2,
  'on_ground': 0,
  'velocity': 222.0,
  'true_track': 328.26,
  'vertical_rate': 0.0,
  'sensors': None,
  'geo_altitude': 10607.0,
  'squawk': None,
  'spi': 0,
  'position_source': 0},
 {'id': 5001,
  'icao24': 'a4359b',
  'callsign': 'UPS909',
  'origin_country': 'United States',
  'time_position': 1607141729,
  'last_contact': 1607141729,
  'longitude': -103.211,
  'latitude': 36.6842,
  'baro_altitude': 10066.0,
  'on_ground': 0,
  'velocity': 232.47,
  'true_track': 77.99,
  'vertical_rate': 0.0,
  'sensors': None,
  'geo_altitude': 10264.1,
  'squawk': '7243',
  'spi': 0,
  'position_source': 0},
 {'id': 5000,
  'icao24': '894093',
  'callsign': 'DHX135',
  'origin_country': 'Bahrain',
  'time_position': 1607141728,
  'last_contact': 1607141729,
  'longitude': 55.2793,
  'latitude': 25.304,
  'baro_altitude': 434.34,
  'on_ground': 0,
  'velocity': 78.26,
  'true_track': 121.29,
  'vertical_rate': -3.9,
  'sensors': None,
  'geo_altitude': 426.72,
  'squawk': '4461',
  'spi': 0,
  'position_source': 0},
 {'id': 4999,
  'icao24': 'a0f99e',
  'callsign': 'FDX1610',
  'origin_country': 'United States',
  'time_position': 1607141729,
  'last_contact': 1607141729,
  'longitude': -76.2236,
  'latitude': 41.3717,
  'baro_altitude': 10370.8,
  'on_ground': 0,
  'velocity': 195.13,
  'true_track': 262.43,
  'vertical_rate': 0.33,
  'sensors': None,
  'geo_altitude': 10264.1,
  'squawk': None,
  'spi': 0,
  'position_source': 0},
 {'id': 4998,
  'icao24': 'a86a66',
  'callsign': 'QXE2181',
  'origin_country': 'United States',
  'time_position': 1607141423,
  'last_contact': 1607141450,
  'longitude': -122.389,
  'latitude': 40.4693,
  'baro_altitude': 8534.4,
  'on_ground': 0,
  'velocity': 207.13,
  'true_track': 352.29,
  'vertical_rate': -0.33,
  'sensors': None,
  'geo_altitude': 8801.1,
  'squawk': '3310',
  'spi': 0,
  'position_source': 0},
 {'id': 4997,
  'icao24': 'aa7833',
  'callsign': 'DAL1136',
  'origin_country': 'United States',
  'time_position': 1607141391,
  'last_contact': 1607141730,
  'longitude': -104.795,
  'latitude': 35.0703,
  'baro_altitude': 11887.2,
  'on_ground': 0,
  'velocity': 239.42,
  'true_track': 85.56,
  'vertical_rate': 0.0,
  'sensors': None,
  'geo_altitude': 12070.1,
  'squawk': '1037',
  'spi': 0,
  'position_source': 0},
 {'id': 4996,
  'icao24': '44c973',
  'callsign': 'OORKS',
  'origin_country': 'Belgium',
  'time_position': 1607141729,
  'last_contact': 1607141729,
  'longitude': 4.64,
  'latitude': 50.9525,
  'baro_altitude': 800.1,
  'on_ground': 0,
  'velocity': 100.86,
  'true_track': 245.92,
  'vertical_rate': -1.63,
  'sensors': None,
  'geo_altitude': 647.7,
  'squawk': '1000',
  'spi': 0,
  'position_source': 0},
 {'id': 4995,
  'icao24': '39ce24',
  'callsign': 'FWI71R',
  'origin_country': 'France',
  'time_position': 1607141571,
  'last_contact': 1607141572,
  'longitude': -24.3965,
  'latitude': 35.651,
  'baro_altitude': 13106.4,
  'on_ground': 0,
  'velocity': 236.75,
  'true_track': 37.32,
  'vertical_rate': -0.65,
  'sensors': None,
  'geo_altitude': 13464.5,
  'squawk': None,
  'spi': 0,
  'position_source': 0},
 {'id': 4994,
  'icao24': '894097',
  'callsign': 'GFA007',
  'origin_country': 'Bahrain',
  'time_position': 1607141729,
  'last_contact': 1607141729,
  'longitude': 19.8829,
  'latitude': 46.7437,
  'baro_altitude': 12192.0,
  'on_ground': 0,
  'velocity': 231.95,
  'true_track': 295.49,
  'vertical_rate': -0.33,
  'sensors': None,
  'geo_altitude': 12199.6,
  'squawk': '3247',
  'spi': 0,
  'position_source': 0},
 {'id': 4993,
  'icao24': '424429',
  'callsign': 'SBI2610',
  'origin_country': 'United Kingdom',
  'time_position': 1607141690,
  'last_contact': 1607141690,
  'longitude': 53.9198,
  'latitude': 56.4037,
  'baro_altitude': 11582.4,
  'on_ground': 0,
  'velocity': 214.16,
  'true_track': 245.9,
  'vertical_rate': 0.0,
  'sensors': None,
  'geo_altitude': 11559.5,
  'squawk': None,
  'spi': 0,
  'position_source': 0},
 {'id': 4992,
  'icao24': '7c77fc',
  'callsign': 'QFA932',
  'origin_country': 'Australia',
  'time_position': 1607141730,
  'last_contact': 1607141730,
  'longitude': 152.738,
  'latitude': -27.879,
  'baro_altitude': 3131.82,
  'on_ground': 0,
  'velocity': 160.59,
  'true_track': 62.94,
  'vertical_rate': -7.15,
  'sensors': None,
  'geo_altitude': 3337.56,
  'squawk': None,
  'spi': 0,
  'position_source': 0},
 {'id': 4991,
  'icao24': 'ad5c83',
  'callsign': 'N960DT',
  'origin_country': 'United States',
  'time_position': 1607140748,
  'last_contact': 1607141729,
  'longitude': -102.541,
  'latitude': 36.4725,
  'baro_altitude': 13716.0,
  'on_ground': 0,
  'velocity': 248.86,
  'true_track': 131.73,
  'vertical_rate': -0.33,
  'sensors': None,
  'geo_altitude': 13929.4,
  'squawk': None,
  'spi': 0,
  'position_source': 0},
 {'id': 4990,
  'icao24': '78147a',
  'callsign': 'CSN3455',
  'origin_country': 'China',
  'time_position': 1607141728,
  'last_contact': 1607141729,
  'longitude': 112.529,
  'latitude': 23.8785,
  'baro_altitude': 7193.28,
  'on_ground': 0,
  'velocity': 203.15,
  'true_track': 296.63,
  'vertical_rate': 0.0,
  'sensors': None,
  'geo_altitude': 7543.8,
  'squawk': '3113',
  'spi': 0,
  'position_source': 0},
 {'id': 4989,
  'icao24': '424432',
  'callsign': 'AFL1531',
  'origin_country': 'United Kingdom',
  'time_position': 1607141729,
  'last_contact': 1607141729,
  'longitude': 40.462,
  'latitude': 55.8226,
  'baro_altitude': 9593.58,
  'on_ground': 0,
  'velocity': 225.45,
  'true_track': 265.68,
  'vertical_rate': -7.8,
  'sensors': None,
  'geo_altitude': 9631.68,
  'squawk': None,
  'spi': 0,
  'position_source': 0},
 {'id': 4988,
  'icao24': '42441e',
  'callsign': 'SBI2594',
  'origin_country': 'United Kingdom',
  'time_position': 1607141718,
  'last_contact': 1607141718,
  'longitude': 52.5635,
  'latitude': 56.8307,
  'baro_altitude': 11574.8,
  'on_ground': 0,
  'velocity': 215.06,
  'true_track': 269.18,
  'vertical_rate': -0.33,
  'sensors': None,
  'geo_altitude': 11536.7,
  'squawk': None,
  'spi': 0,
  'position_source': 0},
 {'id': 4987,
  'icao24': '780d8f',
  'callsign': 'CAO1033',
  'origin_country': 'China',
  'time_position': 1607141729,
  'last_contact': 1607141729,
  'longitude': 25.4236,
  'latitude': 54.7286,
  'baro_altitude': 10363.2,
  'on_ground': 0,
  'velocity': 231.68,
  'true_track': 243.21,
  'vertical_rate': 0.0,
  'sensors': None,
  'geo_altitude': 10363.2,
  'squawk': '5130',
  'spi': 0,
  'position_source': 0},
 {'id': 4986,
  'icao24': '7c77fa',
  'callsign': 'QFA933',
  'origin_country': 'Australia',
  'time_position': 1607141730,
  'last_contact': 1607141730,
  'longitude': 152.976,
  'latitude': -27.8858,
  'baro_altitude': 5524.5,
  'on_ground': 0,
  'velocity': 212.55,
  'true_track': 221.17,
  'vertical_rate': 7.8,
  'sensors': None,
  'geo_altitude': 5844.54,
  'squawk': None,
  'spi': 0,
  'position_source': 0},
 {'id': 4985,
  'icao24': 'a4e5e3',
  'callsign': 'N4144C',
  'origin_country': 'United States',
  'time_position': 1607141704,
  'last_contact': 1607141706,
  'longitude': -98.3558,
  'latitude': 30.5523,
  'baro_altitude': 2209.8,
  'on_ground': 0,
  'velocity': 66.55,
  'true_track': 19.42,
  'vertical_rate': -0.33,
  'sensors': None,
  'geo_altitude': 2293.62,
  'squawk': '1200',
  'spi': 0,
  'position_source': 0},
 {'id': 4984,
  'icao24': '7808d5',
  'callsign': 'CXA8476',
  'origin_country': 'China',
  'time_position': 1607141520,
  'last_contact': 1607141543,
  'longitude': 104.891,
  'latitude': 29.4048,
  'baro_altitude': 9174.48,
  'on_ground': 0,
  'velocity': 194.63,
  'true_track': 315.75,
  'vertical_rate': 6.83,
  'sensors': None,
  'geo_altitude': 9342.12,
  'squawk': '1532',
  'spi': 0,
  'position_source': 0},
 {'id': 4983,
  'icao24': 'a05ddc',
  'callsign': 'UAL1277',
  'origin_country': 'United States',
  'time_position': 1607141729,
  'last_contact': 1607141729,
  'longitude': -109.858,
  'latitude': 34.457,
  'baro_altitude': 12176.8,
  'on_ground': 0,
  'velocity': 245.61,
  'true_track': 272.4,
  'vertical_rate': 0.0,
  'sensors': None,
  'geo_altitude': 12359.6,
  'squawk': '6141',
  'spi': 0,
  'position_source': 0},
 {'id': 4982,
  'icao24': 'a260bc',
  'callsign': 'UPS1081',
  'origin_country': 'United States',
  'time_position': 1607141730,
  'last_contact': 1607141730,
  'longitude': -74.5095,
  'latitude': 40.6702,
  'baro_altitude': 4442.46,
  'on_ground': 0,
  'velocity': 189.79,
  'true_track': 265.96,
  'vertical_rate': 20.48,
  'sensors': None,
  'geo_altitude': 4366.26,
  'squawk': '1670',
  'spi': 0,
  'position_source': 0}]